# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS-specific
.DS_Store
Thumbs.db

# Build
dist/
build/

# Debug
.vscode/
.idea/

# Coverage directory
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# PM2 logs and dumps
*.pm2

# Temporary files
tmp/
temp/
